* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body{ font-family: $font-family-base;}

.navbar {
    background-color: $dark;
    margin-bottom: 2rem;
}

main {
    max-width: 1380px;
}
h1 {text-align: center;
    color: $dark;}