* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: map-get($colors, color-grey);
  font-size: 1.7rem;
  font-family: "Noto Sans Display", sans-serif;
}
.navbar-brand {
  font-size: 2.5rem;
}
.btn {
  font-size: 1.7rem;
  color: map-get($colors, color-blue);
  font-weight: 500;
}
.form-control {
  @extend .btn;
}
.form-select {
  @extend .btn;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: map-get($colors, color-blue);
}
