.booking-container {
  border: 0.2rem solid rgba(119, 119, 119, 0.644);
  background-color: map-get($colors, color-light-grey);
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}
.location-container {
  text-align: center;
  margin-bottom: 1rem;
  color: map-get($colors, color-blue);
}
