@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,900&display=swap');
@import "variables";
@import "globals";
@import "index";
@import "habitaciones";
@import "contacto";
@import "../node_modules/bootstrap/scss/bootstrap";

.card {
  border: 0.5rem solid rgba(152, 146, 146, 0.285);
  background-color: $card-bg;
  color: white;
}